### MLP 3: Classification

#### Write your name

- xiaomei Xie
- Lili Hao

In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np

In [3]:
df = pd.read_csv('../processeddata/new_airlines_Normalized.csv')
df.head(2)

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,# of Delays.Carrier,# of Delays.Late Aircraft,# of Delays.National Aviation System,# of Delays.Security,...,Flights.Total,Minutes Delayed.Carrier,Minutes Delayed.Late Aircraft,Minutes Delayed.National Aviation System,Minutes Delayed.Security,Minutes Delayed.Total,Minutes Delayed.Weather,Time.Month.level,Rate,Ratio_Rank
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,0.301513,0.270412,0.350472,0.189474,...,0.770892,0.258823,0.185741,0.194317,0.104668,0.260628,0.253219,3.0,0.797538,2.0
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,0.088067,0.093018,0.069295,0.042105,...,0.199003,0.066594,0.067780,0.037010,0.020004,0.064041,0.053621,3.0,0.816993,1.0

In [10]:
col = ['# of Delays.Carrier', "Time.Month",
       '# of Delays.Late Aircraft', '# of Delays.National Aviation System',
       '# of Delays.Security', '# of Delays.Weather',
       'Flights.Cancelled',
       'Flights.Delayed', 'Flights.Diverted', 'Flights.On Time',
       'Flights.Total', 'Minutes Delayed.Carrier',
       'Minutes Delayed.Late Aircraft',
       'Minutes Delayed.National Aviation System', 'Minutes Delayed.Security',
       'Minutes Delayed.Total', 'Minutes Delayed.Weather']

In [11]:
normalizedData = df[col]
normalizedData.shape

(4408, 17)

In [12]:
Xcol = ['# of Delays.Carrier', "Time.Month",
       '# of Delays.Late Aircraft', '# of Delays.National Aviation System',
       '# of Delays.Security', '# of Delays.Weather',
       'Flights.Cancelled',
       'Flights.Delayed', 'Flights.Diverted', 'Flights.On Time',
       'Flights.Total', 'Minutes Delayed.Carrier',
       'Minutes Delayed.Late Aircraft',
       'Minutes Delayed.National Aviation System', 'Minutes Delayed.Security',
       'Minutes Delayed.Weather']

In [14]:
X = normalizedData[Xcol]
print(X.shape)
X.head()

(4408, 16)

,# of Delays.Carrier,Time.Month,# of Delays.Late Aircraft,# of Delays.National Aviation System,# of Delays.Security,# of Delays.Weather,Flights.Cancelled,Flights.Delayed,Flights.Diverted,Flights.On Time,Flights.Total,Minutes Delayed.Carrier,Minutes Delayed.Late Aircraft,Minutes Delayed.National Aviation System,Minutes Delayed.Security,Minutes Delayed.Weather
0,0.301513,6,0.270412,0.350472,0.189474,0.403206,0.057928,0.414431,0.061086,0.745664,0.770892,0.258823,0.185741,0.194317,0.104668,0.253219
1,0.088067,6,0.093018,0.069295,0.042105,0.080148,0.036715,0.099881,0.006787,0.199287,0.199003,0.066594,0.067780,0.037010,0.020004,0.053621
2,0.061849,6,0.088924,0.036424,0.094737,0.094945,0.007071,0.071705,0.033937,0.169523,0.161140,0.035474,0.063728,0.025609,0.056173,0.080223
3,0.063193,6,0.087787,0.074847,0.031579,0.065351,0.019037,0.095334,0.031674,0.170304,0.171866,0.040725,0.053647,0.036017,0.025662,0.048824
4,0.057479,6,0.041392,0.047307,0.052632,0.070284,0.019309,0.060897,0.040724,0.112608,0.111460,0.036125,0.025243,0.031345,0.024247,0.053373

In [16]:
y = normalizedData["Minutes Delayed.Total"]
y.head()

0    0.260628
1    0.064041
2    0.051023
3    0.052444
4    0.038985
Name: Minutes Delayed.Total, dtype: float64

In [17]:
X = X.to_numpy()
print(type(X))

y = y.to_numpy()
print(type(y))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

### (1) Multivariate linear regression modeling

In [31]:
linreg = LinearRegression().fit(X_train, y_train)

print('linear model original data intercept (b): {:.3f}'.format(linreg.intercept_))
print('linear model original data coeff (w): {}'.format(linreg.coef_))

# train data R2
print('R-squared score (training): {:.3f}'.format(linreg.score(X_train, y_train)))
# test data R2
print('R-squared score (test): {:.3f}'.format(linreg.score(X_test, y_test)))

# make predictions on the testing set and print RMSE
y_pred = linreg.predict(X_test)
print('RMSE: {:.3f}'.format(np.sqrt(metrics.mean_squared_error(y_test, y_pred))))

linear model original data intercept (b): -0.001
linear model original data coeff (w): [-1.01356283e-04  2.31088108e-09 -1.49212035e-04 -3.06758031e-04
 -3.41500182e-06 -2.77962322e-05 -9.61830194e-06  4.21631507e-04
 -1.20204145e-06 -7.73713827e-05  9.35634231e-05  2.20374681e-01
  3.49198707e-01  6.15931737e-01  5.07816153e-03  7.87223849e-02]
R-squared score (training): 1.000
R-squared score (test): 1.000
RMSE: 0.000

### (2) Multivariate linear regression model with gradient descent

In [32]:
theta = np.random.randn(16, 1)
theta.shape

(16, 1)

In [39]:
# learning rate
alpha = 0.01

# number of iterations
n_iter = 100

# the number of data points
n = 100

# random initialization to theta. 
# Return samples (16 values for theta0 and theta1) from the “standard normal” distribution.
theta = np.random.randn(16, 1)
print('initial theta: \n', theta)

# the process of gradient descent
for iteration in range(n_iter):
    gradients = (1/n) * X_train.T.dot(X_train.dot(theta) - y_train)
    theta = theta - alpha*gradients
    
print('best theta: \n', theta)

initial theta:
 [[-0.46652412]
 [ 1.5036959 ]
 [ 0.65902561]
 [-0.57635317]
 [ 0.175534  ]
 [ 0.1115551 ]
 [ 2.00804206]
 [ 1.24699121]
 [-1.44266605]
 [ 0.07926857]
 [ 1.21333242]
 [-0.46891934]
 [ 0.96895806]
 [ 0.6828049 ]
 [-1.54332415]
 [-1.77526976]]
best theta:
 [[9.36375051e+118 9.32036673e+118 9.36506958e+118 ... 9.28269302e+118
  9.32702638e+118 9.35830869e+118]
 [5.11798329e+120 5.09427084e+120 5.11870426e+120 ... 5.07367937e+120
  5.09791083e+120 5.11500893e+120]
 [9.58980629e+118 9.54537516e+118 9.59115721e+118 ... 9.50679195e+118
  9.55219559e+118 9.58423310e+118]
 ...
 [4.29625544e+118 4.27635019e+118 4.29686065e+118 ... 4.25906482e+118
  4.27940576e+118 4.29375864e+118]
 [2.62582795e+118 2.61366206e+118 2.62619785e+118 ... 2.60309742e+118
  2.61552959e+118 2.62430193e+118]
 [4.74531056e+118 4.72332476e+118 4.74597903e+118 ... 4.70423268e+118
  4.72669970e+118 4.74255278e+118]]

In [42]:
# train data R2
print('R-squared score (training): {:.3f}'.format(linreg.score(X_train, y_train)))
# test data R2
print('R-squared score (test): {:.3f}'.format(linreg.score(X_test, y_test)))

R-squared score (training): 1.000
R-squared score (test): 1.000

In [41]:
y_predict = X_test.dot(theta)
print(y_predict)

[[6.14832691e+121 6.11984071e+121 6.14919302e+121 ... 6.09510380e+121
  6.12421350e+121 6.14475376e+121]
 [2.05998585e+121 2.05044160e+121 2.06027604e+121 ... 2.04215355e+121
  2.05190670e+121 2.05878868e+121]
 [2.05403188e+121 2.04451522e+121 2.05432123e+121 ... 2.03625112e+121
  2.04597608e+121 2.05283817e+121]
 ...
 [5.13704807e+121 5.11324730e+121 5.13777173e+121 ... 5.09257912e+121
  5.11690085e+121 5.13406264e+121]
 [1.03046343e+121 1.02568912e+121 1.03060859e+121 ... 1.02154320e+121
  1.02642200e+121 1.02986456e+121]
 [5.68638625e+121 5.66004030e+121 5.68718729e+121 ... 5.63716193e+121
  5.66408454e+121 5.68308156e+121]]

In [43]:
print('RMSE: {:.3f}'.format(np.sqrt(metrics.mean_squared_error(y_test, y_pred))))

RMSE: 0.000

### (3) Regularized linear regression models with feature normalization